<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello <%= locals.text || 'Default'//the percentage + carrot + equals sign allows the client to run code on the server.%>
    <%// The equal sign in particular says to output the return to the page. This line of code, if it had any inctructions in it wouldn't be displayed.%>
</body>
</html>
